.form-control{
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}
input.form-control{
  height: 40px;
  font-size: 14px;
}
label{ font-size: 14px; }